@{

    Layout = "homelayout";
}


<!-- NAVBAR
================================================== -->





    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="about-main">
        <div class="container marketing">

            <!-- START THE FEATURETTES -->
            <div class="row title-div">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="about-title"> <h4>About Starlink</h4>  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
            <hr class="featurette-divider about-hr">

            <h2 class="featurette-heading">StarLink is  a value added Company</h2>
            <div class="row featurette">
                <div class="col-md-7">

                    <p class="lead">
                        Starlink provides PCB/PCBA, FPC/FPCA, rigid flex, MCPCB(Cu base and AL base) , good quality, competitive price, we can help you on sourcing, DFM(in Chinese and English), suppiler management, customer service, QA management(Survey,audit, report).
                    </p>
                    <p class="lead">
                        Starlink can provide quick turn 1-6 layers PCB within 3 days, 1-6 layers PCB+PCBA within 5 days.
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="~/content/images/pic4.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="~/content/images/pic5.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-md-7">

                    <p class="lead">
                        Starlink can provide most difficult Metal core PCB (AL base, Cu base) with special request. Starlink bridges the China PCB,PCBA  factories with China and oversea customers, make your job easier.
                    </p>
                    <p class="lead">
                        Starlink's partners are  the best and capable suppliers in relative area.Starlink matchs the most suitable suppiler with the customer and provides corresponding service from application, DFM to NPI, sample, mass production.
                    </p>
                </div>

            </div>



            <hr class="featurette-divider">
            <div class="row featurette">
                
                    <img class="featurette-image img-responsive center-block" src="~/content/images/pic10.png" alt="Generic placeholder image">
              
               

            </div>



            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->



        </div><!-- /.container -->
    </div>
