
@{
    Layout = "homelayout";
}




<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="about-main">
    <div class="container marketing">

        <!-- START THE FEATURETTES -->
        <div class="row title-div">
            <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="about-title"> <h4>Leadtime</h4>  </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                <ol class="breadcrumb">
                    <li><a href="/home/index">Home</a></li>
                    <li class="active">Capability</li>
                </ol>
            </div>
        </div>
        <hr class="featurette-divider about-hr">

        <div class="row featurette">
            <div>
                <h3 class="featurette-heading">
                    PCB/FPC/Rigid Flex Capability
                </h3>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>PCB</th>
                        <th>FPC</th>
                        <th>
                            Rigid-FLex
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Layers
                        </td>
                        <td>
                            1-18
                        </td>
                        <td>
                            1-6
                        </td>
                        <td>
                            2-12
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Copper thickness
                        </td>
                        <td>
                            1/3 ounce to 4 ounce
                        </td>
                        <td>1/3 ounce to 1 ounce</td>
                        <td>
                            1/3 ounce to 2 ounce
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Core Thickness
                        </td>
                        <td>
                            0.05mm to 3.2mm
                        </td>
                        <td colspan="2">
                            12.5um / 25um / 50um
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Max Panel Size

                        </td>
                        <td>
                            457mm×610mm
                            18 "×24 "

                        </td>
                        <td>
                            250mm×500mm
                            9.8 "×19.8 "
                        </td>
                        <td>
                            250mm×500mm
                            9.8 "×19. 8 "

                        </td>
                    </tr>
                    <tr>
                        <td>
                            HDI


                        </td>
                        <td>
                            2 + N + 2


                        </td>
                        <td>
                            N / A

                        </td>
                        <td>
                            1 + N +1


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>PCB</th>
                        <th>FPC</th>
                        <th>
                            Rigid-FLex
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Min. VIA Size

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）
                            0.075mm /0.003” (laser)

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）
                            0.075mm /0.003”（laser）

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aspect Rat

                        </td>
                        <td>
                            8:1

                        </td>
                        <td>
                            4:1
                        </td>
                        <td>
                            8:1

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Solder Mask Thickness

                        </td>
                        <td>
                            10-40 um

                        </td>
                        <td>
                            10-40 um

                        </td>
                        <td>
                            10-40 um

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Registration (solder mask and pattern)


                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                        <td>
                            +/-0.05mm

                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trace to outline



                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                    </tr>

                    <tr>
                        <td>
                            Outline Tolerance




                        </td>
                        <td>
                            +/-0.075mm




                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                        <td>
                            +/-0.075mm


                        </td>
                    </tr>

                    <tr>
                        <td>
                            Min. Line Width/Space

                        </td>
                        <td>
                            0.05mm  /  0.002”

                        </td>
                        <td>
                            0.05 mm  /  0.002”

                        </td>
                        <td>
                            0.075mm  /  0.003”


                        </td>
                    </tr>
                    <tr>
                        <td>
                            Impedance Tolerance


                        </td>
                        <td>
                            +/- 8 %


                        </td>
                        <td colspan="2">
                            +/- 10%


                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <div class="row featurette">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>PCB</th>
                        <th>FPC</th>
                        <th>
                            Rigid-FLex
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Min. VIA Size

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）
                            0.075mm /0.003” (laser)

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）

                        </td>
                        <td>
                            0.1mm /0.004”（mechanical）
                            0.075mm /0.003”（laser）

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aspect Rat

                        </td>
                        <td>
                            8:1

                        </td>
                        <td>
                            4:1
                        </td>
                        <td>
                            8:1

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Solder Mask Thickness

                        </td>
                        <td>
                            10-40 um

                        </td>
                        <td>
                            10-40 um

                        </td>
                        <td>
                            10-40 um

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Registration (solder mask and pattern)


                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                        <td>
                            +/-0.05mm

                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trace to outline



                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                        <td>
                            +/-0.05mm


                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                    </tr>

                    <tr>
                        <td>
                            Outline Tolerance




                        </td>
                        <td>
                            +/-0.075mm




                        </td>
                        <td>
                            +/-0.05mm



                        </td>
                        <td>
                            +/-0.075mm


                        </td>
                    </tr>

                    <tr>
                        <td>
                            Min. Line Width/Space

                        </td>
                        <td>
                            0.05mm  /  0.002”

                        </td>
                        <td>
                            0.05 mm  /  0.002”

                        </td>
                        <td>
                            0.075mm  /  0.003”


                        </td>
                    </tr>
                    <tr>
                        <td>
                            Impedance Tolerance


                        </td>
                        <td>
                            +/- 8 %


                        </td>
                        <td colspan="2">
                            +/- 10%


                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">item</th>
                        <th>
                            Min.
                        </th>
                        <th>
                            Max.
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="9" style="vertical-align:middle">
                            Surface Treatment
                        </td>
                        <td rowspan="2" style="vertical-align:middle">
                            ENIG


                        </td>
                        <td>
                            Au 0.02um(0.8u")


                        </td>
                        <td>
                            Au 0.2um(8u“)


                        </td>
                    </tr>
                    <tr>

                        <td>
                            Ni 2.54um(100u")

                        </td>
                        <td>
                            Ni 6um (240u")

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Flash Gold Plating

                        </td>
                        <td>
                            0.01um (0.4u")


                        </td>
                        <td>
                            0.05um(2u")


                        </td>

                    </tr>
                    <tr>
                        <td>
                            Soft Gold Plating
                        </td>
                        <td>
                            0.05um (2u")

                        </td>
                        <td>
                            0.5um(20u")


                        </td>

                    </tr>
                    <tr>
                        <td>
                            Hard Gold Plating


                        </td>
                        <td>
                            0.05um (2u")


                        </td>
                        <td>
                            1.0um(40u")



                        </td>

                    </tr>

                    <tr>
                        <td rowspan="3" style="vertical-align:middle">
                            ENEPIG
                        </td>
                        <td>
                            Au 0.02um


                        </td>
                        <td>
                            Au 0.1um

                        </td>

                    </tr>

                    <tr>
                        <td>
                            Ni  2.54um(100u")


                        </td>
                        <td>
                            Ni 6um (240u")


                        </td>

                    </tr>
                    <tr>
                        <td>
                            Pd 0.03um (1.2u")



                        </td>
                        <td>
                            Pd 0.2um (8u")


                        </td>


                    </tr>
                    <tr>
                        <td>
                            O.S.P

                        </td>
                        <td>
                            0.20um (8u")

                        </td>
                        <td>
                            0.60um (24u")


                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div>
                <h3 class="featurette-heading">
                    SMT Capability

                </h3>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Component</th>
                        <th>
                            Max Size
                        </th>
                        <th>
                            Min

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                           1

                        </td>
                        <td>
                            PCBA L*W


                        </td>
                        <td>
                            510mm*460mm

                        </td>
                        <td>
                            50mm*50mm


                        </td>
                    </tr>
                    <tr>
                        <td>
                           2

                        </td>
                        <td>
                            IC/Chip


                        </td>
                        <td>
                            65*65 mm

                        </td>
                        <td>
                            01005


                        </td>
                    </tr>
                    <tr>
                        <td>
                            3

                        </td>
                        <td>
                            Connector


                        </td>
                        <td>
                            N/A


                        </td>
                        <td>
                            0.3mm Pitch


                        </td>
                    </tr>
                    <tr>
                        <td>
                           4

                        </td>
                        <td>
                            BGA



                        </td>
                        <td>
                            65*65 mm

                        </td>
                        <td>
                            0.4mm Pitch
    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Component

                        </td>
                        <td colspan="3">
                            R, C, L, CAL, Diode, LED, SOP, SOJ, PLCC. QFP, BGA, CSP, Connector, Transformer


                        </td>
                       
                    </tr>

                  
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

    </div><!-- /.container -->
</div>

