
@{
    Layout = "homelayout";
}





    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="about-main">
        <div class="container marketing">

            <!-- START THE FEATURETTES -->
            <div class="row title-div">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="about-title"> <h4>Leadtime</h4>  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">Leadtime</li>
                    </ol>
                </div>
            </div>
            <hr class="featurette-divider about-hr">

            <div class="row featurette">
                <div>
                    <h3 class="featurette-heading">Fast Turn sample for 1-6 layers conventional PCB/PCBA</h3>
                    <h3 class="featurette-heading">Production Lead Time (exclude delivery day)</h3>
                </div>
                <table class="table table-bordered">
                    <thead><tr><th>Layer account</th><th>PCB Sample</th><th>PCBA</th><th>PCB+PCBA</th></tr></thead>
                    <tbody>
                        <tr><td>2</td><td>2 days</td><td>2 days</td><td>4 days</td></tr>
                        <tr><td>4</td><td>3 days</td><td>2 days</td><td>5 days</td></tr>
                        <tr><td>6</td><td>4 days</td><td>2 days</td><td>6 days</td></tr>
                    </tbody>
                </table>
            </div>

            <hr class="featurette-divider">


            <!-- /END THE FEATURETTES -->



        </div><!-- /.container -->
    </div>
 


