

@{
    Layout = "homelayout";
}



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="about-main">
        <div class="container marketing">

            <!-- START THE FEATURETTES -->
            <div class="row title-div">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="about-title"> <h4>MCPCB Show</h4>  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">MCPCB Show</li>
                    </ol>
                </div>
            </div>
            <hr class="featurette-divider about-hr">




            <div class="row featurette">
                <div class="col-md-7">

                    <ul class="column">
                        <li>Professional design, R&D , production and sales of MCPCB</li>
                        <li>Specializing in MCPCB</li>
                        <li>Own brand laminate supported with fast lead time</li>
                        <li>Excellent Technic</li>

                    </ul>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="~/content/images/pic4.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="~/content/images/pic5.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-md-7">

                    <ul class="column">

                        <li>Streamlined Management</li>
                        <li>Automated Facilities</li>
                        <li>24hrs response time service</li>
                        <li>Thermal Management</li>
                    </ul>
                </div>

            </div>

            <hr class="featurette-divider about-hr">
            <div class="product-title">
                MPCB Special Sample Display
            </div>
            <div class="row pshow">
                <div>
                    <img src="~/content/images/Picture3.png">
                </div>

            </div>

            <hr class="featurette-divider about-hr">
            <div class="product-title"> LED Lighting PCB</div>
            <div class="row pshow">
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_01.jpg">
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_02.jpg">
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_03.jpg">
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_04.jpg">
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_05.jpg">
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_06.jpg">
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_07.jpg">
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic_08.jpg">
                </div>

            </div>




            <hr class="featurette-divider about-hr">
            <div class="product-title">
                Power + Automobile Application
            </div>
            <div class="row pshow">
                <div>
                    <img src="~/content/images/Picture4.png">
                </div>

            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->



        </div><!-- /.container -->
    </div>


