
@{
    Layout = "homelayout";
}







    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="about-main">
        <div class="container marketing">

            <!-- START THE FEATURETTES -->
            <div class="row title-div">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="about-title"> <h4>Product Show</h4>  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">Product Show</li>
                    </ol>
                </div>
            </div>
            <hr class="featurette-divider about-hr">
            <div class="product-title"> Product  Show - PCB</div>
            <div class="row pshow">
                <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <img src="~/content/images/pic20.jpg">
                    <h4>Hybrid</h4>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <img src="~/content/images/pic27.jpg">
                    <h4>Different S/M</h4>
                </div>
            </div>
            <div class="row pshow">
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic28.jpg">
                    <h4>Heavy Copper(2-5 OZ)</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic30.jpg">
                    <h4>Teflon</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic29.jpg">
                    <h4>Rogers</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic31.jpg">
                    <h4>GF board</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic39.jpg">
                    <h4>Industry</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic40.jpg">
                    <h4>Industry</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <img src="~/content/images/pic41.jpg">
                    <h4>Medical</h4>
                </div>
            </div>

            <hr class="featurette-divider about-hr">
            <div class="product-title"> Product Show-FPC and R-flex for CCM</div>
            <div class="row pshow">
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic12.jpg">
                    <h5>HDI摄像头模组软硬结合板<br>HDI  CCM  R-FPC</h5>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic18.jpg">
                    <h5>双摄像头模组软硬结合板<br>Dual CCM R-FPC</h5>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic13.jpg">
                    <h5>摄像头模组软板<br>CCM FPC</h5>
                </div>
            </div>


            <hr class="featurette-divider about-hr">
            <div class="product-title"> Product Show - FPCA R-FPCA for Mobile Phone</div>
            <div class="row pshow">
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic32.jpg">
                    <h5>手机软硬结合板<br>Smart Phone R-FPC</h5>
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic16.jpg">
                    <h5>手机板<br>Smart Phone Link FPC</h5>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic15.jpg">
                    <h5>指纹模组板<br>Fingerprint Module FPC</h5>
                </div>
            </div>

            <hr class="featurette-divider about-hr">
            <div class="product-title">Product Show - FPC R-FPC for TP/LCD/Battery</div>
            <div class="row pshow">
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic22.jpg">
                    <h5>触摸屏板<br>Touch Panel FPC</h5>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic21.jpg">
                    <h5>LCD柔性线路板<br>Industrial LCD FPC</h5>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="~/content/images/pic35.jpg">
                    <h5>电池板软硬结合板<br>Battery R-FPC</h5>
                </div>
            </div>


            <hr class="featurette-divider about-hr">
            <div class="product-title">Product Show - FPC R-FPC for Automotive/Opto-Electronic</div>
            <div class="row pshow">
                <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <img src="~/content/images/pic42.jpg">
                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <img src="~/content/images/pic43.jpg">
                </div>
            </div>

            <hr class="featurette-divider">


            <!-- /END THE FEATURETTES -->



        </div><!-- /.container -->
    </div>
    <!-- FOOTER -->




