
@{
    Layout = "homelayout";
}

<div class="about-main">
    <div class="container marketing">

        <div class="jumbotron">
            <h1>Thank you for your submit!</h1>
            <p>If page not redict you can click follow button.</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Click here</a></p>
        </div>
    </div><!-- /.container -->
</div>

<script>
    (function () {
       
        setTimeout(" window.location.href = '/home/index'", 3000);
    })();

</script>

