<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5"><img src="~/content/images/logo1.png"><h1>StarLink</h1></div>
            <div class="col-md-6">
                <h2>Contact us</h2>
                <p>China:</p>
                <p><a href="mailto:sales-US@starklink-xdz.com"> sales-US@starklink-xdz.com(US area) </a></p>
                <p><a href="mailto:sales@starklink-xdz.com"> sales@starklink-xdz.com(other area) </a></p>
                <p>MP: (86)-13924002936</p>
            </div>

        </div>
    </div>
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Company, Inc.  All Rights Reserved. </p>
    </div>
</footer>

