<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/logo16.gif">

    <title>Starlink - Suzhou Starlink Electronics CO., LTD</title>

    <!-- Bootstrap core CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/content/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="~/content/css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
    <header class="nmain-header">
        <div class="container">
            <div class="row">
                <!--  <div class="col-lg-1"><div class="logo"><img src="images/logo.png" width="60"></div></div>
                 <div class="col-lg-10"><h1>Suzhou Starlink Electronics CO., LTD</h1></div> -->
                <div class="logo"><img src="~/content/images/logo.png" width="180"><h1>Suzhou Starlink Electronics CO., LTD</h1></div>
            </div>
        </div>
    </header>


    @RenderBody()
    <!-- FOOTER -->
    @Html.Partial("foot")

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/content/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/content/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/content/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/content/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

